<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>오류 발생</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/header.css}">
</head>
<body class="d-flex flex-column min-vh-100">

<header id="header">
    헤더 삽입부
    <hr>
</header>

<main class="container flex-grow-1 d-flex justify-content-center align-items-center">
    <div class="text-center">
        <h1 class="text-danger fw-bold">오류가 발생했습니다.</h1>
        <p class="lead">다시 시도해주세요.</p>
        <a href="/" class="btn btn-primary mt-3">홈으로 돌아가기</a>
    </div>
</main>

<footer id="footer">
    <hr>
    푸터 삽입부
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
<script th:src="@{/js/header.js}"></script>
</body>
</html>
